* {
 outline: none;
 padding: 0;
 margin: 0;
 font-family: 'Sora', sans-serif;
}

:root {
 --text-color: rgb(30, 30, 30);
 --bg-color: rgb(230, 230, 230);
 --shade-color: rgb(215, 215, 215);
 --accent-color: rgb(255, 255, 255);
}

body {
 width: 100vw;
 height: 100vh
 display: flex;
 flex-direction: column;
 align-items: center;
 overflow: hidden;
 color: var(--text-color);
 background-color: var(--bg-color);
}

main, footer, nav {
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0 5%;
}

main {
 height: 90vh;
}

.todo-lists {
 width: 100%;
 height: 37vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 1.5rem;
}

.todo-time-tag {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: .6rem;
}

.todo-time-tag > span {
 margin-left: .4rem;
}
.todo-time-tag > span:last-of-type {
 width: 1.3rem;
 height: 1.3rem;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: .7rem;
 background-color: var(--shade-color);
 border-radius: 50%;
}

.todo-lists > ul {
 width: 92%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: .5rem;
 padding: .8rem 4%;
 background-color: var(--accent-color);
 border-radius: 1.4rem;
 list-style: none;
}

.todo-lists > ul > li {
 width: 90%;
 height: 3.8rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: .9rem;
 padding-inline: 5%;
 background-color: var(--bg-color);
 border-radius: 1.4rem;
}

.todo-lists > ul > li > button:first-of-type {
 width: 1.4rem;
 height: 1.4rem;
 background: green;
 border: .1rem solid var(--shade-color);
 border-radius: 50%;
 transition: .2s;
}

.selected {
	background: blue;
}

.todo-lists > ul > li > button:last-of-type {
 width: 2rem;
 height: 2rem;
 background: transparent;
 border: .1rem solid transparent;
}

.todo-lists > ul > li > p {
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 text-align: center;
 text-overflow: ellipsis;
}

footer {
 position: absolute;
 bottom: 1rem;
 height: 10vh;
}
 
footer section {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

footer section button {
 width: 3.6rem;
 height: 3.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--shade-color);
 border: none;
 border-radius: 1rem;
}

footer section button:nth-of-type(2) {
 background-color: var(--accent-color);
}